* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Hero img of me */

.hero {
  height: 100vh;
  width: 100%;
  background-image: url(./background.jpeg);
  background-size: cover;
  background-position: center;
}

/* Links/logos section */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 8%;
  padding-right: 8%;
}

.logo {
  color: #3498db;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

nav ul li a:hover {
  color: #e74c3c;
  transition: 0.4s;
}

/* Content section/my name etc */

.content {
  margin-top: 17%;
  padding: 15% 0 0 8%;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}

h1 {
  color: #ffffff;
  margin: 20px 0px 20px;
  font-size: 75px;
}

h3 {
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 50px;
}

h4 {
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 20px;
  margin-top: 50px;
}

/* Contact me button */

.button {
  background-color: #e74c3c;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
}

.button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.button:hover {
  background-color: #3498db;
}

/* About section/short description of me */

.About {
  padding: 100px 0px;
  background-color: #333;
}

.About img {
  height: auto;
  width: 430px;
  border: 5px;
  border-radius: 250px;
}

.About-text {
  width: 500px;
  color: #ffffff;
  text-align: center;
}

/* Project section/imgs/links */

.Project-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
  background-color: #111;
}

.Row {
  width: 500px;
  max-width: 95%;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  bottom: 10px;
  top: 1px;
  color: #ffffff;
}

.Row img {
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
  border: 10px solid #3498db;
}

.Row:hover {
  transform: scale(1.2, 1.2);
}

.layer {
  width: 50%;
  height: 0;
  position: absolute;
  border-radius: 8px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  transition: height 0.5s;
  color: #cbff00;
  text-decoration: none;
  border: 7px solid transparent;
  font-weight: bold;
  padding: 25px 25px;
}

.layer h5 {
  font-weight: 600;
  margin-bottom: 15px;
  text-align: left;
}

.layer i {
  color: #3498db;
  margin-top: 20px;
  font-size: 20px;
  background-color: #000;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.Projects {
  background-color: #111;
  padding-top: 100px;
}

.main-text {
  color: #ffffff;
  width: 1130px;
  max-width: 95%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  font-size: 100px;
}

.main-text span {
  color: #d29d9d;
}

/* Contact section/logos */

.contact {
  background: #3498db;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.contact-text h2 {
  align-items: center;
  justify-content: space-around;
  font-size: 40px;
  line-height: 1;
  margin-top: 40px;
  display: flex;
  text-decoration: underline;
}

.contact-text i {
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  display: flex;
}

.list {
  margin-bottom: 2.8rem;
  list-style-type: none;
}

.list ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
  margin-bottom: 20px;
}

.list ul li a {
  display: contents;
  width: 320px;
  color: #06060b;
  font-size: 35px;
  transition: all, 1s ease;
  text-decoration: none;
  font-weight: normal;
  text-transform: capitalize;
}

/* Buttons for contact section */

.buttons {
  background-color: #ffffff;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: normal;
  padding: 10px 30px;
  border-radius: 15px;
}

.buttons:hover {
  color: #3498db;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Media Screen */

@media screen and (max-width: 992px) {
  .layer {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .layer {
    width: 100%;
  }
}
